#login{
    background: linear-gradient(120deg, #4c79d3 44.9%, #ffffff 45%) no-repeat fixed;
}

#app{
     background: linear-gradient(120deg, #ffffff 44.9%,#4c79d3   45%) no-repeat fixed;
}


header{
    border-bottom: 1px solid #bebcbc;
    padding: 5px;
    background-color: #ffffff;
}

.color-primary{
    color: #4e0070;
}

.color-secondary{
    color: #4c79d3;
}

.icon-detail{
    font-size: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

.text-login{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}

.coins{
    position: absolute;
    bottom: 100px;
}

.button-login{
    border-radius: 10px;
    background-color: #4e0070;
    color: #ffffff;
    width: 50%;
    margin: 0 25%;
}

.button-default{
    border-radius: 10px;
    color: #ffffff;
    background-color: #4e0070;
}

.button-cancel{
    border-radius: 10px;
}

.button-float{
    border-radius: 100%;
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 1rem;
    bottom: 1rem;
    right: 2rem;
    font-size: 32px;
    background-color: #4e0070;
    color: #ffffff;
    border: 2px solid #4e0070;
}

.button-float:hover{
    border: 2px solid #4c79d3;
    background: #ffffff;
    color: #4c79d3;
    
}

.button-login:hover, .button-default:hover{
    background-color: #4c79d3;
    color: #ffffff;
}

.link-default{
    color: #4e0070;
    cursor: pointer;
}

.link-default:hover{
    color: #4c79d3;
}

.info{
    background-color: #ffffff;
    border-radius: 20px 20px 0px 20px;
    padding: 20px 0px 0px 0px;
}

.dropdown-menu {
  min-width: 100%;
}


.error-message {
  color: inherit; 
  font-size: 0.875rem;
  margin-top: 4px;
}

.error-message.active {
  color: #e63946;
  font-size: 0.875rem;
  margin-top: 4px;
  display: block;
}

.form-check-input {
  border: 2px solid #0d6efd; /* Azul Bootstrap */
  border-radius: 4px;
}

.form-check-input:checked {
  background-color: #4e0070;
  border-color: #4e0070;
}